{% extends "base.html" %} {% block content %}
<div
    class="min-h-[60vh] p-10 content-center bg-gradient-to-b from-lbneutral-800 to-lbneutral-900"
>
    <div class="relative max-w-screen-xl mx-auto">
        <h1
            class="max-w-4xl px-3 mx-auto mb-14 text-3xl/relaxed [word-spacing:-8px] lg:text-center lg:text-4xl/snug font-thin text-lbneutral-100"
        >
            <span>The encrypted notebook</span
            ><span class="text-lbneutral-500">.</span>
        </h1>
        <h2
            class="max-w-4xl px-3 mx-auto mb-14 text-xl/relaxed [word-spacing:-8px] lg:text-center lg:text-2xl/snug font-light text-lbneutral-300"
        >
            <span>Write notes</span><span class="text-lbneutral-500">, </span>
            <span>sketch ideas</span
            ><span class="text-lbneutral-500">, and </span>
            <span>store files</span
            ><span class="text-lbneutral-500"> in </span>
            <span>one secure place</span
            ><span class="text-lbneutral-500">.</span>
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-5 px-7 sm:px-0">
            <div class="text-lbneutral-100 bg-lbneutral-800 p-8">
                <h4 class="mb-8 text-lg text-lbgreen-700">Private</h4>
                <p class="text-sm mb-4">
                    <span
                        >Lockbook uses cryptography to keep your data
                        secret</span
                    ><span class="text-lbneutral-500">, </span
                    ><span>even from us</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
                <p class="text-sm">
                    <span
                        >Your files never leave your device without being
                        encrypted</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
            </div>

            <div class="text-lbneutral-100 bg-lbneutral-800 p-8">
                <h4 class="mb-8 text-lg text-lbyellow-700">Collaborative</h4>
                <p class="text-sm mb-4">
                    <span>Share with friends</span
                    ><span class="text-lbneutral-500">, </span><span>teams</span
                    ><span class="text-lbneutral-500">, </span
                    ><span>and everyone else you trust</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
                <p class="text-sm">
                    <span>Collaborate on notes and drawings in real time</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
            </div>

            <div class="text-lbneutral-100 bg-lbneutral-800 p-8">
                <h4 class="mb-8 text-lg text-lbblue-700">Extensible</h4>
                <p class="text-sm mb-4">
                    <span
                        >Open formats work nicely with your favorite apps and
                        tools</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
                <p class="text-sm">
                    <span
                        >Extend Lockbook using our CLI or programmatic
                        libraries</span
                    ><span class="text-lbneutral-500">.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div
    class="min-h-[80vh] p-10 content-center bg-lbneutral-900 text-lbneutral-100"
>
    <div
        class="mx-auto w-1/2 h-[34rem] max-sm:h-72 relative max-sm:w-full max-sm:mt-36"
    >
        <div id="screenshots" class="flex h-full">
            <img
                src="ios-screenshot.png"
                alt="screenshot of the ui on an iOS device"
                class="absolute hidden object-contain object-bottom w-full h-full"
                data-platform="ios"
            />
            <img
                src="macos-screenshot.png"
                alt="screenshot of the ui on an macos device"
                class="absolute hidden object-contain object-bottom w-full h-full"
                data-platform="macos"
            />
            <img
                src="linux-screenshot1.png"
                alt="screenshot of the ui on an linux device"
                class="absolute visible object-contain object-bottom w-full h-full"
                data-platform="linux"
            />
            <img
                src="android-screenshot.png"
                alt="screenshot of the ui on an android device"
                class="absolute hidden object-contain object-bottom w-full h-full"
                data-platform="android"
            />
            <img
                src="windows-screenshot.png"
                alt="screenshot of the ui on an windows device"
                class="absolute hidden object-contain object-bottom w-full h-full"
                data-platform="windows"
            />
        </div>

        <div
            class="absolute top-0 left-0 px-3 -translate-x-full translate-y-full max-sm:-translate-y-[110%] max-sm:translate-x-0"
        >
            <p class="mb-2 uppercase opacity-30">screenshots</p>
            <div
                class="flex flex-col flex-wrap items-start justify-center max-sm:flex-row max-sm:justify-around"
                id="toggle-screenshots"
            >
                <button
                    class="px-4 pt-1 border-l-8 max-sm:border-l-4 font-extralight border-lbneutral-700 border-opacity-30"
                    data-platform="ios"
                >
                    iOS
                </button>
                <button
                    class="px-4 pt-1 border-l-8 max-sm:border-l-4 font-extralight border-lbneutral-700 border-opacity-30"
                    data-platform="macos"
                >
                    macOS
                </button>
                <button
                    class="px-4 pt-1 border-l-8 max-sm:border-l-4 font-extralight border-lbneutral-700 border-opacity-30"
                    data-platform="windows"
                >
                    windows
                </button>
                <button
                    class="px-4 pt-1 border-l-8 max-sm:border-l-4 border-lbblue-700"
                    data-platform="linux"
                >
                    linux
                </button>
                <button
                    class="px-4 pt-1 border-l-8 max-sm:border-l-4 font-extralight border-lbneutral-700 border-opacity-30"
                    data-platform="android"
                >
                    android
                </button>
            </div>
        </div>
    </div>
</div>

<!-- the id is hardcoded in main.rs. change with caution  -->
<div class="max-w-screen-lg mx-auto mt-40 px-7">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
        <!-- Editor Demo -->
        <div class="relative h-[40rem] bg-lbneutral-800 p-5">
            <canvas id="editor-demo" class="w-full h-full"></canvas>
            <div
                class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-lbneutral-100 bg-lbneutral-700"
                id="editor-loading"
            >
                <p class="mb-4">Editor Demo</p>
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Canvas Demo -->
        <div class="relative h-[40rem] bg-lbneutral-800 p-5">
            <canvas id="canvas_demo" class="w-full h-full"></canvas>
            <div
                class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-lbneutral-100 bg-lbneutral-700"
                id="canvas-loading"
            >
                <p class="mb-4">Canvas Demo</p>
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="min-h-[80vh] p-10 content-center max-sm:pb-0 text-lbneutral-100"
    id="pricing"
>
    <div class="px-3 text-center max-sm:text-left">
        <h2 class="pt-24 text-2xl font-light">
            <span>Pricing</span><span class="text-lbneutral-500">:</span>
        </h2>
        <h3 class="mt-2 mb-20">
            <span>Be the customer</span
            ><span class="text-lbneutral-500">, </span>
            <span>not the product</span
            ><span class="text-lbneutral-500">. </span>
            <span>We sell a note</span><span class="text-lbneutral-500">-</span
            ><span>taking app</span><span class="text-lbneutral-500">, </span>
            <span>not your data</span><span class="text-lbneutral-500">. </span>
        </h3>
    </div>

    <div class="flex justify-center max-sm:flex-col max-sm:mx-7">
        <div class="bg-lbneutral-900 p-11">
            <h4 class="mb-12 text-xl font-bold">Free</h4>
            <ul class="mb-20 text-xs list-disc list-inside">
                <li class="mb-4">1MB storage capacity</li>
                <li class="mb-4">sharing and collaboration</li>
                <li class="mb-4">markdown support</li>
                <li class="mb-4">drawing support</li>
                <li class="mb-4">offline mode</li>
            </ul>
            <a
                href="#"
                class="px-6 py-2 text-sm bg-lbgreen-700 text-lbneutral-900 font-xs font-bold"
                id="free-download"
                >Download</a
            >
        </div>

        <div
            class="w-full max-w-xl ml-8 max-sm:ml-0 bg-lbneutral-800 text-lbneutral-100 p-11 max-sm:py-20"
        >
            <div class="flex flex-row justify-between mb-8">
                <h4 class="text-xl font-bold">Premium</h4>
                <div>
                    <h4 class="text-xl font-bold">$2.99</h4>
                    <p class="text-xs text-right">monthly</p>
                </div>
            </div>
            <ul class="mb-20 text-xs list-disc list-inside">
                <li class="mb-4">30GB storage capacity</li>
                <li class="mb-4 opacity-60">sharing and collaboration</li>
                <li class="mb-4 opacity-60">markdown support</li>
                <li class="mb-4 opacity-60">drawing support</li>
                <li class="mb-4 opacity-60">offline mode</li>
            </ul>
            <a
                href="#"
                class="px-6 py-2 text-sm bg-lbneutral-900 text-lbneutral-500"
                id="paid-download"
                >Purchase in-app</a
            >
        </div>
    </div>
</div>

<div
    class="min-h-[80vh] p-10 content-center bg-lbneutral-900 text-lbneutral-100 max-sm:pb-32"
>
    <h2
        class="pt-24 text-2xl max-w-4xl px-3 mx-auto p-8 lg:text-center lg:text-2xl/snug font-light text-lbneutral-300"
    >
        <span>Community driven</span><span class="text-lbneutral-500">.</span>
    </h2>
    <h3
        class="max-w-4xl px-3 mx-auto pb-12 text-sm/relaxed lg:text-center lg:text-l/snug font-light text-lbneutral-300"
    >
        <span>Lockbook is in open beta and is still under construction</span
        ><span class="text-lbneutral-500">. </span
        ><span>Join our community</span
        ><span class="text-lbneutral-500">, </span><span>report issues</span
        ><span class="text-lbneutral-500">, </span
        ><span>and request the features you're looking for</span
        ><span class="text-lbneutral-500">.</span>
    </h3>
    <div class="flex justify-between max-w-6xl px-3 mx-auto max-sm:flex-col">
        <div>
            <div class="relative">
                <h4 class="text-lg font-bold">Features</h4>
                <span
                    class="pointer-events-none w-96 h-96 left-0 top-0 absolute transform -translate-x-[47%] -translate-y-[47%] bg-[radial-gradient(at_center,_theme('colors.lbgreen.500')_-80%,_transparent_25%)]"
                ></span>
            </div>
            <ul class="text-sm list-inside font-extralight">
                <li
                    class="mt-4 before:content-['✓'] before:pr-2 before:text-lbgreen-500"
                >
                    Sharing and collaboration
                </li>
                <li
                    class="mt-4 before:content-['✓'] before:pr-2 before:text-lbgreen-500"
                >
                    Markdown support
                </li>
                <li
                    class="mt-4 before:content-['✓'] before:pr-2 before:text-lbgreen-500"
                >
                    PDF preview
                </li>
                <li
                    class="mt-4 before:content-['✓'] before:pr-2 before:text-lbgreen-500"
                >
                    Offline mode
                </li>
                <li
                    class="mt-4 before:content-['✓'] before:pr-2 before:text-lbgreen-500"
                >
                    Files importing
                </li>
            </ul>
        </div>

        <div class="mt-28 max-sm:mt-20">
            <div class="relative">
                <h4 class="text-lg font-bold">In development</h4>
                <span
                    class="pointer-events-none w-96 h-96 left-0 top-0 absolute transform -translate-x-[47%] -translate-y-[47%] bg-[radial-gradient(at_center,_theme('colors.lbyellow.500')_-160%,_transparent_25%)]"
                ></span>
            </div>
            <ul class="text-sm list-inside font-extralight">
                <li
                    class="mt-4 before:content-['◍'] before:pr-2 before:text-lbyellow-500"
                >
                    Sharing and collaboration
                </li>
                <li
                    class="mt-4 before:content-['◍'] before:pr-2 before:text-lbyellow-500"
                >
                    Markdown support
                </li>
                <li
                    class="mt-4 before:content-['◍'] before:pr-2 before:text-lbyellow-500"
                >
                    PDF preview
                </li>
                <li
                    class="mt-4 before:content-['◍'] before:pr-2 before:text-lbyellow-500"
                >
                    Offline mode
                </li>
                <li
                    class="mt-4 before:content-['◍'] before:pr-2 before:text-lbyellow-500"
                >
                    Files importing
                </li>
            </ul>
        </div>

        <div class="max-sm:mt-20">
            <div class="relative">
                <h4 class="text-lg font-bold">Coming soon</h4>
                <span
                    class="pointer-events-none w-96 h-96 left-0 top-0 absolute transform -translate-x-[47%] -translate-y-[47%] bg-[radial-gradient(at_center,_theme('colors.lbblue.500')_-160%,_transparent_25%)]"
                ></span>
            </div>
            <ul class="text-sm list-inside font-extralight">
                <li
                    class="mt-4 before:content-['➤'] before:pr-2 before:text-lbblue-500"
                >
                    Sharing and collaboration
                </li>
                <li
                    class="mt-4 before:content-['➤'] before:pr-2 before:text-lbblue-500"
                >
                    Markdown support
                </li>
                <li
                    class="mt-4 before:content-['➤'] before:pr-2 before:text-lbblue-500"
                >
                    PDF preview
                </li>
                <li
                    class="mt-4 before:content-['➤'] before:pr-2 before:text-lbblue-500"
                >
                    Offline mode
                </li>
                <li
                    class="mt-4 before:content-['➤'] before:pr-2 before:text-lbblue-500"
                >
                    Files importing
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="min-h-[30vh] bg-gradient-to-b from-lbneutral-900 to-lbneutral-800">
    <div
        class="relative py-20 pl-24 max-sm:px-3 text-lbneutral-100"
        id="download"
    >
        <h1 class="text-4xl font-light mb-28 max-sm:text-3xl">
            <span>Unlock your thoughts</span
            ><span class="text-lbneutral-500">!</span>
        </h1>
        <div
            class="flex items-center max-sm:items-start max-sm:flex-col"
            id="download-center"
        >
            <a
                href=""
                class="px-6 py-2 text-sm font-bold text-lbneutral-900 bg-lbgreen-700"
                >Download for macOS</a
            >
            <p class="ml-8 text-xs font-extralight max-sm:mx-0 max-sm:mt-4">
                also available for
                <a href="#" class="font-bold text-lbblue-700">iOS</a>,
                <a href="#" class="font-bold text-lbblue-700">Android</a>,
                <a href="#" class="font-bold text-lbblue-700">Linux</a>, and
                <a href="#" class="font-bold text-lbblue-700">Windows</a>
            </p>
        </div>
        <div
            class="absolute top-0 right-0 w-1/4 h-full overflow-hidden pointer-events-none min-w-80 max-sm:h-full max-sm:w-full max-sm:-z-10 max-sm:opacity-5"
        >
            <img
                src="./banner-bg.svg"
                alt="pattern of lockbook's logo"
                class=""
            />
        </div>
    </div>
</div>

<!--Register Service Worker. this will cache the wasm / js scripts for offline use (for PWA functionality). -->
<!-- Force refresh (Ctrl + F5) to load the latest files instead of cached files  -->
<script>
    // We disable caching during development so that we always view the latest version.
    if ("serviceWorker" in navigator && window.location.hash !== "#dev") {
        window.addEventListener("load", function () {
            navigator.serviceWorker.register("sw.js");
        });
    }

    let unselectedStyles =
        "pt-1 px-4 border-l-8 max-sm:border-l-4 font-extralight border-lbneutral-700 border-opacity-30";
    let selectedStyles =
        "pt-1 px-4 border-l-8 max-sm:border-l-4 border-lbblue-700";

    let screenshotToggleBtns = [
        ...document.querySelector("#toggle-screenshots").children,
    ].filter((el) => el.nodeName === "BUTTON");

    let screenshotImgs = [...document.querySelector("#screenshots").children];

    screenshotToggleBtns.forEach((clickedBtn) =>
        clickedBtn.addEventListener("click", (e) => {
            screenshotToggleBtns.forEach(
                (nonClickedBtn) => (nonClickedBtn.className = unselectedStyles),
            );
            clickedBtn.className = selectedStyles;
            let clickedPlatform = clickedBtn.dataset.platform;

            screenshotImgs.forEach((img) => {
                img.classList.remove("visible");
                img.classList.add("hidden");
            });
            selectedImg = screenshotImgs.find(
                (img) => img.dataset.platform === clickedPlatform,
            );
            selectedImg.classList.remove("hidden");
            selectedImg.classList.add("visible");
        }),
    );
    let editorCanvas = document.querySelector("#editor-demo");

    // Make canvas focusable
    editorCanvas.setAttribute("tabindex", "0");

    // List of events to prevent propagation and default behavior
    const eventsToBlock = [
        "keydown",
        "keyup",
        "keypress",
        "wheel",
        "mousedown",
        "mouseup",
        "click",
        "dblclick",
        "touchstart",
        "touchmove",
        "touchend",
        "contextmenu",
    ];

    eventsToBlock.forEach((eventType) => {
        editorCanvas.addEventListener(
            eventType,
            function (event) {
                event.preventDefault();
            },
            {
                passive: false,
            },
        ); // passive: false ensures preventDefault works on wheel/touch events
    });

    // Focus canvas when clicked so it can receive key events
    editorCanvas.addEventListener("click", () => {
        editorCanvas.focus();
    });

    function getUserPlatform() {
        if (window.navigator.userAgent.includes("Windows")) return "windows";
        if (window.navigator.userAgent.includes("iPhone")) return "iphone";
        if (window.navigator.userAgent.includes("Mac")) return "macos";
        if (window.navigator.userAgent.includes("Android")) return "android";
        if (window.navigator.userAgent.includes("Linux")) return "linux";
    }

    let downloadHrefMap = {
        windows: {
            prettyName: "Windows",
            others: ["iphone", "macos", "android", "linux"],
            href: "https://github.com/lockbook/lockbook/releases/latest/download/lockbook-windows-setup-x86_64.exe",
        },
        macos: {
            prettyName: "macOS",
            others: ["iphone", "linux", "android", "windows"],
            href: "https://apps.apple.com/us/app/lockbook/id1526775001",
        },
        iphone: {
            prettyName: "iPhone",
            others: ["macos", "linux", "android", "windows"],
            href: "https://apps.apple.com/us/app/lockbook/id1526775001",
        },
        linux: {
            prettyName: "Linux",
            others: ["android", "macos", "iphone", "windows"],
            href: "https://github.com/lockbook/lockbook/releases/latest/download/lockbook-linux",
        },
        android: {
            prettyName: "Android",
            others: ["linux", "windows", "iphone", "macos"],
            href: "https://play.google.com/store/apps/details?id=app.lockbook",
        },
    };

    let userPlatform = getUserPlatform();

    [...document.querySelectorAll("#download-center a")].forEach((link, i) => {
        let platform =
            i === 0
                ? userPlatform
                : downloadHrefMap[userPlatform].others[i - 1];
        let platformObj = downloadHrefMap[platform];
        link.textContent = link.textContent.replace(
            /\S+$/,
            platformObj.prettyName,
        );
        link.href = platformObj.href;
    });

    [...document.querySelectorAll("#paid-download, #free-download")].forEach(
        (link) => (link.href = downloadHrefMap[userPlatform].href),
    );
</script>

{% endblock content %}
